header {
    background-color: rgb(252, 156, 220);
}

h1{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section {
    background-color: rgb(218, 218, 218);
}

#flexcolumn{
    display: flex;
    flex-direction: column;
}

img {
    width: 33%;
    height: auto;
    filter: saturate(0);
}

a{
    text-decoration: none;
}

a:hover img {
    filter: saturate(1);
}